/* Header title */
:body, root, *{
    --red: #F71616;
    --green: #33F016;
    --blue: #2617CB;
    margin: 0;
    padding: 0;
}

#title-rock {
    color: #F71616;
}
#title-paper {
    color: #33F016;
}
#title-scissors {
    color: #2617CB;
}

#title-rock, #title-paper, #title-scissors {
    font-size: 40px;
    text-shadow: 2px 7px 10px rgb(166, 165, 165);
    font-weight: lighter;
}
.title {
    text-align: center;
}

/* sub header */
.sub-title {
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    font-style: bold;
}